/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
html,
body, ul,
li {
  margin: 0;
  padding: 0;
} */

/* ul,
li {
  list-style-type: none;
  color: #f6f6f6;
}

li {
  padding: 10px 0;
} */

/* html {
  position: relative;
  min-height: 100%;
} */

html,
/* body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Open Sans";
} */

/* body {
  background-color: #f6f6f6;
  margin-bottom: 60px;
} */

/* .navtop {
  top: 0;
  height: 80px;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px #cecece;
  box-shadow: 0 0 6px -3px black;
}
.navtop img {
  height: 30px;
  margin-top: 25px;
}
.navtop ul {
  float: right;
  display: table;
  width: auto;
  height: 80px;
  vertical-align: middle;
}
.navtop li {
  color: #000;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  cursor: pointer;
}
.navtop li:hover {
  color: #000000;
  background-color: white;
} */

.site-content {
  margin-top: 60px;
}

.main {
  min-height: 500px;
  background-color: #fff;
  padding: 20px 50px;
}

.inner {
  background-color: #0d1c26;
}

.menu img {
  display: block;
  margin: 30px auto;
}
.menu ul {
  border-bottom: solid 1px rgba(255, 255, 255, 0.04);
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  margin: 0 -15px;
}
.menu li {
  border-top: solid 1px rgba(255, 255, 255, 0.04);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
  cursor: pointer;
  border-left: solid 3px transparent;
  font-size: 17px;
  color: #888;
}
.menu li.active {
  color: #fff;
  cursor: default;
}
.menu li:hover {
  color: #fff;
}
.menu li:first-child {
  border-top: solid 1px rgba(255, 255, 255, 0.04);
}
.nav{
    background-color: black;
}