/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* :root {
    --black: #3a3a3a;
    --white: #fff;
    --green: #49b293;
    --color: #afa939;
  } */
  
  /* * {
    margin: 0;
    padding: 0;
  } */
  
  /* img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  } */
  
  /* body {
    margin: 50px 0;
    color: var(--black);
    font: 1rem/1.3 sans-serif;
  } */
/*   
  .author-archive {
    padding: 1.5rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1 a {
    transition: all 0.1s;
  }
  
  h1 a:hover {
    background: var(--color);
    color: var(--white);
  }
  
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  } */
  
  /* FILTERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* .filters {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filters * {
    display: inline-block;
  }
  
  .filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
  
  .filters label:hover {
    background: var(--color);
    color: var(--white);
  } */
  
  /* FILTERED ELEMENTS (POSTS)
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* .posts {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .posts .post {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .posts .post-title {
    font-size: 1.3rem;
  }
  
  .posts .post-title:hover {
    text-decoration: underline;
  }
  
  .posts figcaption {
    padding: 1rem;
  }
  
  .posts .post-categories {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
  }
  
  .posts .post-categories * {
    display: inline-block;
  }
  
  .posts .post-categories li {
    margin-bottom: 0.2rem;
  }
  
  .posts .post-categories a {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
    line-height: normal;
    transition: all 0.1s;
  }
  
  .posts .post-categories a:hover {
    background: var(--color);
    color: var(--white);
  } */
  
  /* FILTERING RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* [value="All"]:checked ~ .filters [for="All"],
  [value="CSS"]:checked ~ .filters [for="CSS"],
  [value="JavaScript"]:checked ~ .filters [for="JavaScript"],
  [value="jQuery"]:checked ~ .filters [for="jQuery"],
  [value="WordPress"]:checked ~ .filters [for="WordPress"],
  [value="Slider"]:checked ~ .filters [for="Slider"],
  [value="fullPage.js"]:checked ~ .filters [for="fullPage.js"] {
    background: var(--color);
    color: var(--white);
  }
  
  [value="All"]:checked ~ .posts [data-category] {
    display: block;
  }
  
  [value="CSS"]:checked ~ .posts .post:not([data-category~="CSS"]),
  [value="JavaScript"]:checked ~ .posts .post:not([data-category~="JavaScript"]),
  [value="jQuery"]:checked ~ .posts .post:not([data-category~="jQuery"]),
  [value="WordPress"]:checked ~ .posts .post:not([data-category~="WordPress"]),
  [value="Slider"]:checked ~ .posts .post:not([data-category~="Slider"]),
  [value="fullPage.js"]:checked
    ~ .posts
    .post:not([data-category~="fullPage.js"]) {
    display: none;
  } */
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* footer {
    font-size: 1rem;
    padding: 0 1.5rem;
    text-align: right;
  }
  
  footer span {
    color: #e31b23;
  } */
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* @media screen and (max-width: 900px) {
    .posts {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 650px) {
    html {
      font-size: 14px;
    }
  
    .posts {
      grid-template-columns: repeat(2, 1fr);
    }
  } */


  /* ====================================== */


  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    padding: 1rem 0;
    background: #f9f9fb;
  }
  
  .card {
    width: 300px;
    display: inline-block;
    margin: 1rem;
    border-radius: 4px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    background: #fff;
    position: relative;
    overflow: hidden;
  }
  .card:hover, .card.hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  .card:hover .card-content, .card.hover .card-content {
    box-shadow: inset 0 3px 0 0 #ccb65e;
    border-color: #ccb65e;
  }
  .card:hover .card-img .overlay, .card.hover .card-img .overlay {
    background-color: rgba(25, 29, 38, 0.85);
    transition: opacity 0.2s ease;
    opacity: 1;
  }
  .card-img {
    position: relative;
    height: 224px;
    width: 100%;
    background-color: #fff;
    transition: opacity 0.2s ease;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
  }
  .card-img .overlay .overlay-content {
    line-height: 224px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .card-img .overlay .overlay-content a {
    color: #fff;
    padding: 0 2rem;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
    background: #ccb65e;
    border-color: #ccb65e;
  }
  .card-content {
    width: 100%;
    min-height: 104px;
    background-color: #fff;
    border-top: 1px solid #e9e9eb;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1rem 2rem;
    transition: all 0.2s ease;
  }
  .card-content a {
    text-decoration: none;
    color: #202927;
  }
  .card-content h2,
  .card-content a h2 {
    font-size: 1rem;
    font-weight: 500;
  }
  .card-content p,
  .card-content a p {
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(32, 41, 28, 0.8);
  }
  